.job_nav{
    background: #5f3ef5;
    padding: 20px 0;
}
.logo{
    color:#EAB2FF;
    font-size: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: -22px;
}
.menu-bar{
    margin-left: 10%;
}
.menu-item{
    color:#EAB2FF;
    font-size: 25px;
   margin: 0 5px;
   font-weight: 500;
}
.menu-item:hover{
    color: #fff;
}
.logOut_btn{
    border:none;
    background: none;
}
.phot-url{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}