.banner-container{
  background: #000000;
  padding: 10% 0;
}
.title{
  color: white;
  font-size: 80px;
}
.sub-title{
  color:#EAB2FF;
}

.form-design{
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-field{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #EAB2FF;
  color: black;
  width: 30%;
  height: 60px;
  border-radius: 20px;
}
.select-field{
  border: none;
  background: #EAB2FF;
  width: 80%;
  height: 100%;
  padding: 10px 10px;
  font-size: 25px;
}
.select-field:focus{
  border: none;
  outline: none;
}
.msubmit-btn{
  background: none;
  border: none;
  padding: 10px;
}
.search-btn{
  color:#EAB2FF;
}
.hero-right{
  display: flex;
  align-items: center;
  justify-content: center;
}


.img-background{
  width: 400px;
  height: 400px;
  background-color: #5F3EF5;
  border-radius: 100%;
  position: relative;
}

.banner-image{
  width: 75%;
  height: 80%;
  position: absolute;
}
/* .option{
  border: none;
}
.option:focus{
  border: none;
} */
  .all-buttons-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius:5px;
    margin-right: 40px;
  }
  .small-box{
    display: flex;
    align-items: center;
    justify-content:center;
    width:80%;
    background: #EAB2FF;
    margin: auto;
    border-right: 2px solid rgb(107, 107, 107);
    
  }
  .search-button-4  {
    /* width: 50px; */
   
    background-color: red;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content:center;
    /* margin: 13px; */
    padding:8px;
    width:100%;
    /* margin-right: 10px; */
  }
  
  .banner-second-container{
    width: 90%;
    margin: auto;
    height: 71vh;
  }
