.banner-container{
  background: #000000;
  padding: 10% 0;
}
.title{
  color: white;
  font-size: 80px;
}
.sub-title{
  color:#EAB2FF;
}

.form-design{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-field{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #EAB2FF;
  color: black;
  width: 80%;
  height: 40px;
  border-radius: 20px;
}
.select-field{
  border: none;
  background: #EAB2FF;
  width: 80%;
  height: 100%;
  padding: 5px 3px;
  font-size: 16px;
  border-radius: 20px;
}
.location-field{
  margin: 10px 0;
  margin-right: 15px;
}
.select-field:focus{
  border: none;
  outline: none;
}
.msubmit-btn{
  background: none;
  border: none;
  padding: 10px;
}
.search-btn{
  color:#EAB2FF;
}


/* respnosive */
@media (min-width: 200.98px) {
  .title{
    font-size: 40px;
   
  }
 }

 @media (min-width: 767.98px) {
  .title{
   font-size: 60px;
  }
  .form-design{
    flex-direction: row;
  }
  .input-field{
    width: 40%;
    height: 60px;
  }

  .select-field{
    padding: 5px 10px;
    font-size: 20px;
  }
  .location-field{
    margin: 0 0;
    margin-right: 15px;
  }
  
 }

@media (min-width: 991.98px) { 
 
  .title{
    font-size: 80px;
    /* background-color: salmon; */
  }
  .input-field{
    width: 30%;
  }
  .select-field{
    padding: 10px 15px;
    font-size: 25px;
  }
 }
 @media (min-width: 1199.98px) {
  .title{
    /* background-color: yellow; */
  }
  }
 @media (min-width: 1399.98px) {
  .title{
    /* background-color: red; */
  }
  }