.social-button{
    width: 210px;
    margin-top: 10px;
    cursor: pointer;
    
}
.social-button-container{
    text-align: center;
    margin: 10px;
    display: flex;
}

@media (max-width: 526.98px) { 
    .social-button-container{
        flex-direction: column;
    }
  }
@media (min-width: 767.98px) and (max-width: 1199px) { 
    .social-button-container{
        flex-direction: column;
    }
  }